
.container{
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  min-width: 600px;
  text-align: justify;
  margin-bottom: 32;

}

nav{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: #eeeeee;
 

}

.content{
  margin-top: 60px;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: 100vh;


}